/* Code tidied up by ScrapBook */
@keyframes pweb-genie-appear-bottom {
100% { opacity: 1; transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(180deg) scaleX(1) scaleY(1); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateY(-5px) rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(1.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateY(-155px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.5) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: translateY(-5px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 0; transform: translateY(0px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); }
}
@keyframes pweb-genie-hide-bottom {
0% { opacity: 1; transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(180deg) scaleX(1) scaleY(1); }
40% { opacity: 0.8; transform: translateY(-5px) rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(1.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateY(-155px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.5) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateY(-5px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 0; transform: translateY(0px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
}
@keyframes pweb-genie-appear-top {
100% { opacity: 1; transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1); }
70% { opacity: 0.8; transform: translateY(5px) rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(1.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateY(155px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.5) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: translateY(5px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 0; transform: translateY(0px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
}
@keyframes pweb-genie-hide-top {
0% { opacity: 1; transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1); }
40% { opacity: 0.8; transform: translateY(5px) rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(1.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateY(155px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.5) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateY(5px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 0; transform: translateY(0px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
}
@keyframes pweb-genie-appear-left {
100% { opacity: 1; transform: translateX(0px) rotateX(0deg) rotateZ(180deg) scaleX(1) scaleY(1); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateX(5px) rotateX(80deg) rotateZ(0deg) scaleX(1.2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateX(155px) rotateX(86deg) rotateZ(0deg) scaleX(2.2) scaleY(0.6); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: translateX(5px) rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 0; transform: translateX(0px) rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); }
}
@keyframes pweb-genie-hide-left {
0% { opacity: 1; transform: translateX(0px) rotateX(0deg) rotateZ(180deg) scaleX(1) scaleY(1); }
40% { opacity: 0.8; transform: translateX(5px) rotateX(80deg) rotateZ(0deg) scaleX(1.2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateX(155px) rotateX(86deg) rotateZ(0deg) scaleX(2.2) scaleY(0.6); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateX(5px) rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 0; transform: translateX(0px) rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
}
@keyframes pweb-genie-appear-right {
100% { opacity: 1; transform: translateX(0px) rotateX(0deg) rotateZ(-180deg) scaleX(1) scaleY(1); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateX(-5px) rotateX(80deg) rotateZ(0deg) scaleX(1.2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateX(-155px) rotateX(86deg) rotateZ(0deg) scaleX(2.2) scaleY(0.6); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: translateX(-5px) rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 0; transform: translateX(0px) rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); }
}
@keyframes pweb-genie-hide-right {
0% { opacity: 1; transform: translateX(0px) rotateX(0deg) rotateZ(-180deg) scaleX(1) scaleY(1); }
40% { opacity: 0.8; transform: translateX(-5px) rotateX(80deg) rotateZ(0deg) scaleX(1.2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateX(-155px) rotateX(86deg) rotateZ(0deg) scaleX(2.2) scaleY(0.6); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateX(-5px) rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 0; transform: translateX(0px) rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
}
@keyframes pweb-genie-appear-bottom {
100% { opacity: 1; transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(180deg) scaleX(1) scaleY(1); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateY(-5px) rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(1.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateY(-155px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.5) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: translateY(-5px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 0; transform: translateY(0px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); }
}
@keyframes pweb-genie-hide-bottom {
0% { opacity: 1; transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(180deg) scaleX(1) scaleY(1); }
40% { opacity: 0.8; transform: translateY(-5px) rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(1.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateY(-155px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.5) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateY(-5px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 0; transform: translateY(0px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
}
@keyframes pweb-genie-appear-top {
100% { opacity: 1; transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1); }
70% { opacity: 0.8; transform: translateY(5px) rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(1.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateY(155px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.5) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: translateY(5px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 0; transform: translateY(0px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
}
@keyframes pweb-genie-hide-top {
0% { opacity: 1; transform: translateY(0px) rotateX(0deg) rotateY(0deg) rotateZ(-180deg) scaleX(1) scaleY(1); }
40% { opacity: 0.8; transform: translateY(5px) rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(1.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateY(155px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.5) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateY(5px) rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 0; transform: translateY(0px) rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
}
@keyframes pweb-genie-appear-left {
100% { opacity: 1; transform: translateX(0px) rotateX(0deg) rotateZ(180deg) scaleX(1) scaleY(1); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateX(5px) rotateX(80deg) rotateZ(0deg) scaleX(1.2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateX(155px) rotateX(86deg) rotateZ(0deg) scaleX(2.2) scaleY(0.6); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: translateX(5px) rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 0; transform: translateX(0px) rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); }
}
@keyframes pweb-genie-hide-left {
0% { opacity: 1; transform: translateX(0px) rotateX(0deg) rotateZ(180deg) scaleX(1) scaleY(1); }
40% { opacity: 0.8; transform: translateX(5px) rotateX(80deg) rotateZ(0deg) scaleX(1.2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateX(155px) rotateX(86deg) rotateZ(0deg) scaleX(2.2) scaleY(0.6); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateX(5px) rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 0; transform: translateX(0px) rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
}
@keyframes pweb-genie-appear-right {
100% { opacity: 1; transform: translateX(0px) rotateX(0deg) rotateZ(-180deg) scaleX(1) scaleY(1); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateX(-5px) rotateX(80deg) rotateZ(0deg) scaleX(1.2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateX(-155px) rotateX(86deg) rotateZ(0deg) scaleX(2.2) scaleY(0.6); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: translateX(-5px) rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 0; transform: translateX(0px) rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); }
}
@keyframes pweb-genie-hide-right {
0% { opacity: 1; transform: translateX(0px) rotateX(0deg) rotateZ(-180deg) scaleX(1) scaleY(1); }
40% { opacity: 0.8; transform: translateX(-5px) rotateX(80deg) rotateZ(0deg) scaleX(1.2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.6; transform: translateX(-155px) rotateX(86deg) rotateZ(0deg) scaleX(2.2) scaleY(0.6); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: translateX(-5px) rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 0; transform: translateX(0px) rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
}
@keyframes pweb-genie-appear-smooth-top-bottom {
0% { opacity: 0.1; transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.6; transform: rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.8; transform: rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.7) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 1; transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1); }
}
@keyframes pweb-genie-hide-smooth-top-bottom {
100% { opacity: 0.1; transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.6; transform: rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.8; transform: rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.7) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 1; transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1); }
}
@keyframes pweb-genie-appear-smooth-left-right {
0% { opacity: 0.1; transform: rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.6; transform: rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.4); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.8; transform: rotateX(86deg) rotateZ(0deg) scaleX(2) scaleY(0.7); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: rotateX(80deg) rotateZ(0deg) scaleX(2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 1; transform: rotateX(0deg) rotateZ(0deg) scaleX(1) scaleY(1); }
}
@keyframes pweb-genie-hide-smooth-left-right {
100% { opacity: 0.1; transform: rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.6; transform: rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.4); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.8; transform: rotateX(86deg) rotateZ(0deg) scaleX(2) scaleY(0.7); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: rotateX(80deg) rotateZ(0deg) scaleX(2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 1; transform: rotateX(0deg) rotateZ(0deg) scaleX(1) scaleY(1); }
}
@keyframes pweb-genie-appear-smooth-top-bottom {
0% { opacity: 0.1; transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.6; transform: rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.8; transform: rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.7) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 1; transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1); }
}
@keyframes pweb-genie-hide-smooth-top-bottom {
100% { opacity: 0.1; transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.6; transform: rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.4) scaleY(0.3); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.8; transform: rotateX(0deg) rotateY(86deg) rotateZ(0deg) scaleX(0.7) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: rotateX(0deg) rotateY(80deg) rotateZ(0deg) scaleX(0.8) scaleY(2.5); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 1; transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scaleX(1) scaleY(1); }
}
@keyframes pweb-genie-appear-smooth-left-right {
0% { opacity: 0.1; transform: rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.6; transform: rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.4); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.8; transform: rotateX(86deg) rotateZ(0deg) scaleX(2) scaleY(0.7); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.8; transform: rotateX(80deg) rotateZ(0deg) scaleX(2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
100% { opacity: 1; transform: rotateX(0deg) rotateZ(0deg) scaleX(1) scaleY(1); }
}
@keyframes pweb-genie-hide-smooth-left-right {
100% { opacity: 0.1; transform: rotateX(90deg) rotateZ(0deg) scaleX(0) scaleY(0); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
70% { opacity: 0.6; transform: rotateX(86deg) rotateZ(0deg) scaleX(0.3) scaleY(0.4); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
60% { opacity: 0.8; transform: rotateX(86deg) rotateZ(0deg) scaleX(2) scaleY(0.7); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
40% { opacity: 0.8; transform: rotateX(80deg) rotateZ(0deg) scaleX(2) scaleY(0.8); animation-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75); }
0% { opacity: 1; transform: rotateX(0deg) rotateZ(0deg) scaleX(1) scaleY(1); }
}
@keyframes pweb-genie-show-square {
0% { opacity: 0; }
100% { opacity: 0.7; }
}
@keyframes pweb-genie-hide-square {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes pweb-genie-show-square {
0% { opacity: 0; }
100% { opacity: 0.7; }
}
@keyframes pweb-genie-hide-square {
0% { opacity: 1; }
100% { opacity: 0; }
}
