/* Code tidied up by ScrapBook */
body { background: rgb(41, 47, 56) none repeat scroll 0% 0%; font: 300 14px/21px "Roboto",sans-serif; }
body input { font-family: "Roboto",sans-serif; background: rgb(245, 247, 248) none repeat scroll 0% 0%; }
a { outline: medium none ! important; }
a:hover { color: rgb(55, 61, 69); outline: medium none; }
.wrapper { overflow: hidden; width: 100%; }
body input.inputbox { border: 2px solid rgb(228, 228, 226); background: rgb(245, 247, 248) none repeat scroll 0% 0%; height: 40px; line-height: 20px; }
body input.inputbox:focus { border: 2px solid rgb(228, 228, 226); }
h3.module-title, .order h3 { font-size: 24px; text-transform: uppercase; font-weight: 300; font-family: "Roboto",sans-serif; margin-bottom: 30px; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: "Roboto",sans-serif; font-weight: 500; }
.clear { clear: both; }
.t3-module { margin-bottom: 10px; }
.t3-sidebar { padding-top: 0px; padding-bottom: 0px; }
.top-block { position: relative; }
.top-block.fix #t3-mainnav { position: fixed; top: 0px; left: 0px; width: 100%; z-index: 999; }
.center-block { position: relative; }
.bottom-block { position: relative; }
.header-top { border-bottom: 1px solid rgb(226, 230, 231); padding: 4px 0px; font-size: 12px; line-height: 22px; }
.header-top .t3-module { margin-bottom: 0px; }
#t3-header { position: relative; z-index: 999; background: rgb(250, 251, 251) none repeat scroll 0% 0%; }
.mod-right .fright { padding-top: 2px; }
.mod-right .fleft { float: left; }
#t3-mainnav { border: medium none; background: rgb(50, 58, 69) none repeat scroll 0% 0%; min-height: 60px; box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }
#t3-mainnav .t3-navbar { position: relative; }
#t3-mainnav .navbar-nav > li {  }
#t3-mainnav .navbar-nav > li > a, #t3-mainnav .navbar-nav > li > span { font-size: 14px; line-height: 20px; font-weight: 500; color: rgb(255, 255, 255); text-transform: uppercase; padding: 20px 40px; display: inline-block; transition: all 0.5s ease 0s; }
#t3-mainnav .navbar-nav > li > a:hover, #t3-mainnav .navbar-nav > li > a:focus, #t3-mainnav .navbar-nav > li > span:hover, #t3-mainnav .navbar-nav > li > span:focus, #t3-mainnav .navbar-nav > .active > a, #t3-mainnav .navbar-nav > .active > a:hover, #t3-mainnav .navbar-nav > .active > a:focus, #t3-mainnav .navbar-nav > .active > span, #t3-mainnav .navbar-nav > .active > span:hover, #t3-mainnav .navbar-nav > .active > span:focus, #t3-mainnav .navbar-nav > .open > a, #t3-mainnav .navbar-nav > .open > a:hover, #t3-mainnav .navbar-nav > .open > a:focus, #t3-mainnav .navbar-nav > .open > span, #t3-mainnav .navbar-nav > .open > span, #t3-mainnav .navbar-nav > .open > span { color: rgb(255, 255, 255); background-color: rgb(231, 76, 60); }
#t3-mainnav .dropdown-menu { border: medium none; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.176); border-radius: 4px; margin-top: 10px; }
#t3-mainnav .dropdown-menu .dropdown-menu { border: medium none; box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.176); border-radius: 4px; margin-top: -13px; margin-left: 26px; }
#t3-mainnav .dropdown-menu::before { border-left: 8px solid transparent; border-right: 8px solid transparent; margin-left: 2px; vertical-align: middle; width: 16px; height: 8px; content: " "; position: absolute; left: 20px; top: -11px; }
#t3-mainnav .dropdown-menu .dropdown-menu::before { border-top: 8px solid transparent; border-bottom: 8px solid transparent; height: 8px; margin-left: 2px; vertical-align: middle; width: 16px; content: " "; position: absolute; left: -21px; top: 20px; }
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a { font-weight: 700; font-size: 14px; padding: 8px 5px; transition: all 0.7s ease 0s; }
#t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a:hover, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a:focus, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a:hover, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a:focus, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a:hover, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a:focus { padding-left: 15px; background: rgb(236, 240, 241) none repeat scroll 0% 0%; }
#t3-mainnav .t3-megamenu .mega-nav > li a { font-weight: 300; font-size: 14px; padding: 5px; transition: all 0.7s ease 0s; }
#t3-mainnav .t3-megamenu .mega-nav > li a:hover, #t3-mainnav .t3-megamenu .mega-nav > li.open > a, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li a:hover, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li.active > a, #t3-mainnav .t3-megamenu .mega-nav > li a:focus, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li a:focus { padding-left: 15px; background: rgb(236, 240, 241) none repeat scroll 0% 0%; }
#t3-mainnav { position: relative; z-index: 999; }
.MainRow { position: relative; background: rgb(250, 251, 251) none repeat scroll 0% 0%; }
.MainRow .t3-mainbody { padding-top: 40px; padding-bottom: 0px; }
.MainRow .t3-content { padding-bottom: 0px; padding-top: 0px; }
@media (min-width: 768px) {
}
.ratingbox { width: 70px; height: 14px; background: transparent url("stars.png") repeat-x scroll left top; position: relative; }
.stars-orange { position: absolute; left: 0px; top: -1px; height: 14px; background: transparent url("stars.png") repeat-x scroll left bottom; }
.MainRow { position: relative; background: rgb(250, 251, 251) none repeat scroll 0% 0%; }
.MainRow .t3-mainbody { padding-top: 50px; padding-bottom: 40px; }
.MainRow .t3-content { padding-bottom: 0px; padding-top: 0px; }
.ratingbox { width: 70px; height: 14px; background: transparent url("stars.png") repeat-x scroll left top; position: relative; margin: 0px auto; }
.stars-orange { position: absolute; left: 0px; top: -1px; height: 14px; background: transparent url("stars.png") repeat-x scroll left bottom; }
#t3-footer { border: medium none; background: transparent none repeat scroll 0% 0%; }
#t3-footer aside.t3footnav { border: medium none; }
.t3-footnav { padding: 35px 0px 40px; }
#t3-footer .module-title { font-size: 20px; color: rgb(249, 249, 249); text-transform: capitalize; padding: 0px 0px 10px; }
.t3-footnav .t3-module { background: transparent none repeat scroll 0% 0%; color: rgb(189, 195, 199); }
.menu.nav li i { display: none; }
.customfoot1, .acymailing_module_newsletter { font-size: 14px; line-height: 21px; }
.t3-wrapper { overflow: hidden; }
.center-block > div { position: relative; z-index: 1; }
.t3-sidebar .module { margin-bottom: 30px; }
.t3-sidebar .module-title { color: rgb(249, 249, 249); text-transform: capitalize; line-height: 20px; padding: 15px 20px; background: rgb(50, 58, 69) none repeat scroll 0% 0%; border-radius: 4px 4px 0px 0px; margin-bottom: 0px; font-size: 20px; }
.t3-sidebar .module-ct { background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); border-radius: 0px 0px 3px 3px; padding: 20px; }
.t3-sidebar .module-ct ul { list-style: outside none none; padding: 0px; margin: 0px; }
.t3-sidebar .module-ct ul > li { font-size: 16px; line-height: 20px; padding: 8px 0px; border-top: 1px solid rgb(236, 240, 241); font-weight: 500; }
.t3-sidebar .module-ct ul > li:first-child { border: medium none; }
.t3-sidebar .module-ct ul > li a { text-decoration: none; outline: medium none; }
.t3-sidebar .module-ct ul > li a:hover {  }
#productdetailsview .lbl-box { display: inline-block; height: 100px; overflow: hidden; position: absolute; top: -14px; right: -14px; width: 100px; z-index: 99; font-size: 14px; line-height: 24px; font-weight: bold; color: rgb(255, 255, 255); text-align: center; text-transform: uppercase; letter-spacing: 1px; }
#productdetailsview { position: relative; }
#productdetailsview .fleft { float: left; width: auto; margin-right: 40px; margin-bottom: 60px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); border-radius: 6px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 10px; max-width: 400px; position: relative; }
.main-image { position: relative; background: rgb(223, 223, 223) none repeat scroll 0% 0%; }
#productdetailsview .additional-images ul { float: none; }
.jcarousel-container:hover .jcarousel-next, .jcarousel-container:hover .jcarousel-prev { display: block ! important; }
.jcarousel-container .jcarousel-next, .jcarousel-container .jcarousel-prev { position: absolute; top: 50%; right: -40px; margin-top: -14px; display: block; width: 28px; height: 28px; z-index: 99; text-align: center; background: rgb(236, 240, 241) none repeat scroll 0% 0%; outline: medium none ! important; border-radius: 4px; transition: all 300ms ease-in-out 0s; cursor: pointer; }
.jcarousel-container .jcarousel-next span, .jcarousel-container .jcarousel-prev span { display: inline-block; text-align: center; font-size: 20px; line-height: 28px; transition: all 200ms ease-in-out 0s; }
.jcarousel-container .jcarousel-prev span {  }
.jcarousel-container .jcarousel-prev.jcarousel-prev-disabled span {  }
.jcarousel-container .jcarousel-prev:hover span { color: rgb(255, 255, 255); }
.jcarousel-container .jcarousel-next span {  }
.jcarousel-container .jcarousel-next.jcarousel-next-disabled span {  }
.jcarousel-container .jcarousel-next:hover span { color: rgb(255, 255, 255); }
.jcarousel-container .jcarousel-prev-disabled, .jcarousel-container .jcarousel-next-disabled { background: rgb(226, 230, 231) none repeat scroll 0% 0%; cursor: default; }
.jcarousel-container .jcarousel-prev.jcarousel-prev-disabled:hover, .jcarousel-container .jcarousel-next.jcarousel-next-disabled:hover { background: rgb(226, 230, 231) none repeat scroll 0% 0%; }
.jcarousel-container .jcarousel-prev.jcarousel-prev-disabled:hover span, .jcarousel-container .jcarousel-next.jcarousel-next-disabled:hover span {  }
.jcarousel-container .jcarousel-next:hover, .jcarousel-container .jcarousel-prev:hover {  }
.jcarousel-container .jcarousel-prev { left: -43px; }
#productdetailsview .fright { float: left; width: 48%; }
#productdetailsview .fright h1 { font-size: 24px; line-height: 26px; margin-top: 10px; }
#productdetailsview .fright .rating { border-bottom: 1px solid rgb(226, 230, 231); padding-bottom: 10px; margin-bottom: 15px; }
#productdetailsview .fright .rating .vote {  }
#productdetailsview .fright .rating-title { display: inline-block; position: relative; top: -3px; }
#productdetailsview .price { padding-top: 15px; padding-bottom: 15px; overflow: hidden; }
#productdetailsview .price .product-price span.PricesalesPrice { font-size: 24px; line-height: 26px; font-weight: 500; float: left; }
span.vm-price-desc { font-size: 24px; line-height: 26px; font-weight: 500; float: left; color: rgb(231, 76, 60); margin-right: 5px; }
#productdetailsview .product-custom { margin-top: 0px; padding: 0px 5px 0px 0px; }
#productdetailsview .product-box2 .controls { border: medium none; padding-bottom: 0px; margin-bottom: 10px; float: none; width: 100%; overflow: hidden; }
#productdetailsview .product-box2 .addtocart-bar2 .wrapper { padding-top: 0px; }
#productdetailsview .controls label { display: inline-block; font-weight: 300; float: left; margin-right: 4px; line-height: 32px; }
#productdetailsview .product-box2 .box-quantity { width: auto; display: inline-block; position: relative; }
#productdetailsview .product-box2 .addtocart-bar2 .quantity-controls, #productdetailsview .product-box2 .addtocart-bar2 .quantity-box { display: inline-block; }
#productdetailsview .product-box2 .addtocart-bar2 .quantity-box { display: inline-block; width: 100px; height: 32px; border: 2px solid rgb(228, 228, 226); border-radius: 3px; background: rgb(245, 247, 248) none repeat scroll 0% 0%; position: relative; }
#productdetailsview .product-box2 .addtocart-bar2 .quantity-box input { width: 44px; height: 30px; line-height: 28px; font-size: 13px; background: transparent none repeat scroll 0% 0%; border-width: medium 1px; border-style: none solid; border-color: currentcolor rgb(228, 228, 226); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; box-shadow: none ! important; border-radius: 0px; margin-left: 27px; }
#productdetailsview .addtocart-bar2 .quantity-controls { font-weight: 300; font-size: 15px; line-height: 28px; }
#productdetailsview .addtocart-bar2 .quantity-controls .quantity-plus { font-style: normal; text-align: center; display: inline-block; width: 22px; height: 22px; position: absolute; left: 3px; top: 1px; cursor: pointer; }
#productdetailsview .addtocart-bar2 .quantity-controls .quantity-plus:hover {  }
#productdetailsview .addtocart-bar2 .quantity-controls .quantity-minus { font-style: normal; text-align: center; display: inline-block; width: 22px; height: 22px; position: absolute; right: 6px; top: 1px; cursor: pointer; }
#productdetailsview .addtocart-bar2 .quantity-controls .quantity-minus:hover {  }
#productdetailsview .product-box2 .addtocart_button2, #productdetailsview .product-box2 .wishlist, #productdetailsview .product-box2 .compare_cat, #productdetailsview .product-box2 .ask-a-question { float: left; margin-right: 5px; margin-top: 2px; margin-bottom: 10px; }
#productdetailsview .product-box2 .add_wishlist, #productdetailsview .product-box2 .add_compare, #productdetailsview .product-box2 .ask-a-question .ask-question2 { background: rgb(226, 230, 231) none repeat scroll 0% 0%; font-weight: 300; padding: 4px 15px; height: 50px; font-size: 14px; line-height: 48px; display: inline-block; border-width: medium medium 2px; border-style: none none solid; border-color: currentcolor currentcolor rgb(189, 195, 199); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px; text-decoration: none; transition: all 0.3s linear 0s; cursor: pointer; }
#productdetailsview .product-box2 .add_wishlist i, #productdetailsview .product-box2 .add_compare i, #productdetailsview .product-box2 .ask-a-question .ask-question2 i { font-size: 20px; text-indent: 0px; display: inline-block; }
#productdetailsview .product-box2 .add_wishlist span, #productdetailsview .product-box2 .add_compare span, #productdetailsview .product-box2 .ask-a-question .ask-question2 span { display: none; }
#productdetailsview .product-box2 .add_wishlist:hover, #productdetailsview .product-box2 .add_wishlist.active, #productdetailsview .product-box2 .add_wishlist:focus, #productdetailsview .product-box2 .add_compare:hover, #productdetailsview .product-box2 .add_compare.active, #productdetailsview .product-box2 .ask-a-question .ask-question2:hover, #productdetailsview .product-box2 .ask-a-question .ask-question2:focus, #productdetailsview .product-box2 .add_compare:focus { background: rgb(52, 73, 94) none repeat scroll 0% 0%; border-bottom: 2px solid rgb(44, 62, 80); color: rgb(255, 255, 255); text-decoration: none; }
.list-reviews { padding-bottom: 0px; font-size: 13px; }
.list-reviews h4 { font-weight: 400; padding-bottom: 10px; }
.write-reviews { width: 100%; clear: both; font-size: 13px; }
.write-reviews .step { display: block; padding-bottom: 10px; clear: both; }
.write-reviews #comment { width: 100%; background: rgb(245, 247, 248) none repeat scroll 0% 0%; border: 2px solid rgb(228, 228, 226); height: 120px; line-height: 20px; margin-bottom: 5px; padding: 8px 5px ! important; box-shadow: none; }
.svrat { float: left; padding-right: 5px; }
.write-reviews .rating { text-align: left; display: inline-block; float: none; padding-top: 3px; margin: 0px; padding-bottom: 0px; }
.write-reviews .rating .ratingbox { width: 75px; height: 13px; background: transparent url("stars.png") repeat-x scroll left top; position: relative; margin-right: 5px; }
.write-reviews .rating .stars-orange { display: block; background: transparent url("stars.png") repeat-x scroll left bottom; height: 13px; position: absolute; left: 0px; top: 0px; }
.rcount { float: right; margin-top: -8px; margin-right: 3px; }
.rcount input { background: rgb(245, 247, 248) none repeat scroll 0% 0% ! important; border: 2px solid rgb(228, 228, 226); width: 60px; box-shadow: none; display: inline-block; margin-left: 4px; }
.rcount input:focus { box-shadow: none; border-color: rgb(228, 228, 226); }
textarea { resize: none; }
.example2 { padding-top: 30px; padding-bottom: 30px; }
.productdetails-view.layout2 .responsive-tabs__heading { display: none; }
.productdetails-view.layout2 .responsive-tabs__list__item { display: block; cursor: pointer; float: left; }
.productdetails-view.layout2 .clearfix {  }
.productdetails-view.layout2 .clearfix::before, .productdetails-view.layout2 .clearfix::after { display: table; content: ""; }
.productdetails-view.layout2 .clearfix::after { clear: both; }
@media (max-width: 767px) {
  .productdetails-view.layout2 .responsive-tabs__list { display: none; }
  .productdetails-view.layout2 .responsive-tabs__heading { display: block; cursor: pointer; }
}
@media (min-width: 768px) {
}
.productdetails-view.layout2 .responsive-tabs-wrapper { clear: both; }
.productdetails-view.layout2 .responsive-tabs-wrapper::before, .productdetails-view.layout2 .responsive-tabs-wrapper::after { content: ""; display: table; }
.productdetails-view.layout2 .responsive-tabs-wrapper::after { clear: both; }
.productdetails-view.layout2 .responsive-tabs__heading:focus, .productdetails-view.layout2 .responsive-tabs__list__item:focus { outline: medium none ! important; }
.productdetails-view.layout2 .responsive-tabs__heading--active:focus, .productdetails-view.layout2 .responsive-tabs__list__item--active:focus { outline: medium none ! important; }
.productdetails-view.layout2 .responsive-tabs__list { margin: 0px; padding: 0px; list-style: outside none none; position: relative; z-index: 99; clear: both; min-height: 50px; }
.productdetails-view.layout2 .responsive-tabs__list__item { font-size: 18px; line-height: 20px; text-transform: uppercase; font-weight: 300; padding: 14px 20px; background: rgb(236, 240, 241) none repeat scroll 0% 0%; border-radius: 5px 5px 0px 0px; transition: all 0.3s linear 0s; margin-right: 5px; position: relative; }
.productdetails-view.layout2 .responsive-tabs__list__item::before { transition: all 0.3s linear 0s; border-left: 9px solid transparent; border-right: 9px solid transparent; border-top: 9px solid rgb(236, 240, 241); height: 9px; vertical-align: middle; width: 16px; content: " "; position: absolute; left: 50%; bottom: 0px; margin-left: -8px; visibility: hidden; }
.productdetails-view.layout2 .responsive-tabs__list__item:hover { background: rgb(50, 58, 69) none repeat scroll 0% 0%; margin-top: 0px; color: rgb(255, 255, 255); }
.productdetails-view.layout2 .responsive-tabs__list__item--active, .productdetails-view.layout2 .responsive-tabs__list__item--active:hover { background: rgb(50, 58, 69) none repeat scroll 0% 0%; margin-top: 0px; color: rgb(255, 255, 255); cursor: default; }
.productdetails-view.layout2 .responsive-tabs__list__item--active::before, .productdetails-view.layout2 .responsive-tabs__list__item:hover::before { bottom: -8px; visibility: visible; border-top: 9px solid rgb(50, 58, 69); }
.productdetails-view.layout2 .responsive-tabs__panel { margin-top: 5px; width: 100%; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); border-radius: 0px 5px 5px; }
@media (max-width: 767px) {
  .productdetails-view.layout2 .responsive-tabs__panel { margin-top: 30px; }
  .productdetails-view.layout2 .responsive-tabs__heading { padding: 10px; border-radius: 5px; border: 1px solid rgb(229, 229, 229); background: rgb(238, 238, 238) none repeat scroll 0% 0%; position: relative; font-size: 14px; line-height: 20px; font-weight: normal; top: 16px; left: 0px; text-transform: capitalize; transition: all 0.7s ease 0s; }
  .productdetails-view.layout2 .responsive-tabs__heading::after { content: ""; display: block; position: absolute; right: 20px; top: 40%; width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(231, 76, 60); transition: all 0.7s ease 0s; }
  .productdetails-view.layout2 .responsive-tabs__heading:hover { background-color: rgb(255, 255, 255); }
  .productdetails-view.layout2 .responsive-tabs__heading--active::after, .productdetails-view.layout2 .responsive-tabs__heading:hover::after { border-bottom: 5px solid rgb(0, 0, 0); border-top: 0px none; }
  .productdetails-view.layout2 .responsive-tabs__panel div.write-reviews { padding-right: 10px; padding-left: 0px; width: 396px; float: none; }
  .productdetails-view.layout2 .responsive-tabs__panel div.write-reviews #comment { width: 385px; }
}
@media only screen and (max-width: 479px) {
  .productdetails-view.layout2 .responsive-tabs__panel div.write-reviews { padding-right: 10px; padding-left: 0px; width: 280px; float: none; }
  .productdetails-view.layout2 .responsive-tabs__panel div.write-reviews #comment { width: 265px; }
}
.back-to-category { border-top: 1px solid rgb(226, 230, 231); margin-bottom: 60px; }
.back-to-category .button_back { text-align: left; padding-left: 20px; }
.back-to-category .button_back i { margin-right: 10px; }
.back-to-category.left a { float: left; }
input, textarea { box-shadow: none ! important; }
.compare_cat a { cursor: pointer; }
#system_view { display: none; position: fixed; top: 50%; left: 50%; margin-left: -215px; margin-top: -100px; z-index: 6666; padding: 25px; width: 430px; min-height: 100px; overflow: hidden; background: rgb(249, 249, 249) none repeat scroll 0% 0%; box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.1); border-radius: 5px; }
#system_view_overlay { z-index: 5555; display: none; position: fixed; left: 0px; top: 0px; opacity: 0.4; width: 100%; height: 100%; background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
.AjaxPreloaderC { position: fixed; top: 50%; left: 50%; margin: -22px 0px 0px -22px; background: rgb(0, 0, 0) url("fancybox_loading.gif") no-repeat scroll center center; width: 44px; height: 44px; z-index: 9999; opacity: 0.9; border-radius: 6px; }
.wishlist a { cursor: pointer; }
#comment { border: 2px solid rgb(228, 228, 226); background: rgb(245, 247, 248) none repeat scroll 0% 0%; height: 100px; line-height: 20px; margin-bottom: 20px; font-size: 14px; }
#back-top { position: fixed; right: 15%; bottom: 15%; padding: 0px; margin: 0px; display: none; z-index: 99; }
#back-top a { opacity: 0.8; width: 40px; height: 40px; display: inline-block; text-align: center; font-size: 24px; line-height: 38px; text-transform: uppercase; text-decoration: none; color: rgb(255, 255, 255); transition: all 1s ease 0s; padding: 0px; margin: 0px; background: rgb(41, 47, 56) none repeat scroll 0% 0%; border-radius: 6px; outline: medium none; }
#back-top a:hover { color: rgb(255, 255, 255); }
.button, .addtocart-button, .vm-button-correct, .k2user .button { font-weight: 300; padding: 0px 30px; height: 40px; font-size: 14px; line-height: 38px; display: inline-block; border-width: medium medium 2px; border-style: none none solid; border-color: currentcolor currentcolor rgb(192, 57, 43); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px; color: rgb(255, 255, 255); text-decoration: none; transition: all 0.3s linear 0s; outline: medium none; cursor: pointer; }
.button:hover, .button:focus, .addtocart-button:hover, .addtocart-button:focus, .vm-button-correct:hover, .vm-button-correct:focus, .k2user #form-login .button:hover, .k2user #form-login .button:focus { background: rgb(52, 73, 94) none repeat scroll 0% 0% ! important; border-bottom: 2px solid rgb(44, 62, 80) ! important; color: rgb(255, 255, 255); text-decoration: none; }
.button.reset2 { background: rgb(226, 230, 231) none repeat scroll 0% 0% ! important; border-bottom: 2px solid rgb(189, 195, 199) ! important; text-decoration: none; color: rgb(41, 47, 56); }
.button.reset2:hover, .button.reset2:focus { background: rgb(52, 73, 94) none repeat scroll 0% 0% ! important; border-bottom: 2px solid rgb(44, 62, 80) ! important; text-decoration: none; color: rgb(255, 255, 255); }
.proddet .addtocart-button { height: 50px; line-height: 48px; }
@-moz-document url-prefix("") {
  button.button { padding-bottom: 1px; }
}
input:focus:-moz-placeholder { color: transparent; }
input::-moz-placeholder { color: rgb(41, 47, 56); }
select::-moz-placeholder, textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .inputbox::-moz-placeholder { color: rgb(41, 47, 56); }
@keyframes srcbg {
0% { opacity: 0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}
@keyframes srcbg {
0% { opacity: 0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}
@keyframes srcbg {
0% { opacity: 0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}
@keyframes srcbg2 {
0% { opacity: 0; }
50% { opacity: 0.8; }
100% { opacity: 1; }
}
@keyframes srcbg2 {
0% { opacity: 0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}
@keyframes srcbg2 {
0% { opacity: 0; }
50% { opacity: 0.5; }
100% { opacity: 1; }
}
i[class^="fa-"], i[class*=" fa-"] { margin: 0px; }
.cookies_height { height: 0px; }
div#system_view_overlay { z-index: 555555; }
div#system_view { z-index: 666666; }
.t3-navbar .search-custom { position: absolute; left: 0px; top: 0px; width: 100%; }
.logo a:hover img { animation: 0.5s ease 0s normal none 1 running ministorm; }
@keyframes ministorm {
0%, 100% {  }
30% { transform: rotate(8deg); }
70% { transform: rotate(-8deg); }
}
@keyframes ministorm {
0%, 100% { transform: rotate(0deg); }
30% { transform: rotate(8deg); }
70% { transform: rotate(-8deg); }
}
@keyframes sizejump {
0%, 100% { transform: scaleX(1); }
50% { transform: scaleX(1.1); }
}
@keyframes sizejump {
0%, 100% { transform: scaleX(1); }
50% { transform: scaleX(1.1); }
}
@keyframes jump {
0%, 100% { transform: translateY(0px); }
50% { transform: translateY(-5px); }
}
@keyframes jump {
0%, 100% { transform: translateY(0px); }
50% { transform: translateY(-5px); }
}
#Customblock-brand { background: rgb(249, 249, 249) none repeat scroll 0% 0%; padding: 20px 0px 10px; overflow: hidden; }
.t3footnav { overflow: hidden; }
.nav .caret { border-bottom-color: rgb(255, 255, 255); border-top-color: rgb(255, 255, 255); }
#t3-mainnav .navbar-nav > li { margin-bottom: -10px; padding-bottom: 10px; }
#t3-mainnav .dropdown-menu { margin-top: 0px; }
.t3-megamenu .mega-nav > li, .t3-megamenu .dropdown-menu .mega-nav > li { margin-right: -20px; padding-right: 20px; }
#t3-mainnav .dropdown-menu .dropdown-menu { margin-left: 10px; }
body { position: relative; }
#system_view { position: absolute; margin: 0px; }
#productdetailsview .icons { overflow: hidden; }
#productdetailsview .icons > div { float: left; padding-bottom: 10px; }
#productdetailsview .product-box2 .ask-a-question .askquestion2 { background: rgb(226, 230, 231) none repeat scroll 0% 0%; font-weight: 300; padding: 4px 15px; height: 50px; font-size: 14px; line-height: 48px; display: inline-block; border-width: medium medium 2px; border-style: none none solid; border-color: currentcolor currentcolor rgb(189, 195, 199); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 4px; text-decoration: none; transition: all 0.3s linear 0s; cursor: pointer; color: rgb(41, 47, 56); margin-top: 0px; }
#productdetailsview .product-box2 .ask-a-question .askquestion2 i { font-size: 20px; text-indent: 0px; display: inline-block; }
#productdetailsview .product-box2 .ask-a-question .askquestion2 span { display: none; }
#productdetailsview .product-box2 .ask-a-question .askquestion2:hover, #productdetailsview .product-box2 .ask-a-question .askquestion2:focus { background: rgb(52, 73, 94) none repeat scroll 0% 0%; border-bottom: 2px solid rgb(44, 62, 80); color: rgb(255, 255, 255); text-decoration: none; }
div#system_view { z-index: 6666666; }
div#system_view_overlay { z-index: 5555555; }
#Img_zoom2 { height: auto ! important; max-width: none ! important; max-height: none ! important; }
.t3-mainnav .t3-navbar { padding: 0px ! important; }
#t3-mainnav .t3-megamenu .mega-nav > li:hover > a, #t3-mainnav .t3-megamenu .mega-nav > li.open > a, #t3-mainnav .t3-megamenu .dropdown-menu.mega-nav > li:hover > a, #t3-mainnav .t3-megamenu .dropdown-menu.mega-nav > li.active > a, #t3-mainnav .t3-megamen .mega-nav > li:focus > a, #t3-mainnav .t3-megamenu .dropdown-menu.mega-nav > li:focus > a { background: rgb(236, 240, 241) none repeat scroll 0px 0px; padding-left: 15px; color: rgb(231, 76, 60); }
.top-block.fix #t3-mainnav { left: 0px; position: fixed ! important; top: 0px; width: 100%; z-index: 9999; }
@media (min-width: 320px) and (max-width: 767px) {
  .t3-navbar.navbar-collapse { max-height: inherit; }
}
.animated { animation-duration: 1s; animation-fill-mode: both; }
@keyframes fadeInDown {
0% { opacity: 0; transform: translate3d(0px, -100%, 0px); }
100% { opacity: 1; transform: none; }
}
@keyframes fadeInDown {
0% { opacity: 0; transform: translate3d(0px, -100%, 0px); }
100% { opacity: 1; transform: none; }
}
.fadeInDown { animation-name: fadeInDown; }
.wrapper2 { width: 100%; clear: both; }
.navbar-header { z-index: 11; position: relative; }
.off-canvas-toggle { width: 60px; height: 60px; background: rgb(231, 76, 60) none repeat scroll 0% 0%; transition: all 0.3s linear 0s; }
.off-canvas-toggle:hover, .off-canvas-toggle:focus, .off-canvas-toggle:active, .open .dropdown-toggle.btn-primary { background: rgb(52, 73, 94) none repeat scroll 0% 0% ! important; }
#t3-mainnav .navbar-toggle { float: right; width: auto; padding-right: 10px; }
#t3-mainnav .navbar-toggle .fa-bars { width: 35px; line-height: 34px; position: relative; top: -5px; }
#t3-mainnav .navbar-toggle span.menu_title { position: relative ! important; top: 0px; margin-bottom: 0px; color: rgb(231, 76, 60); }
div.t3-wrapper { position: inherit; z-index: inherit; }
.ya-share2.ya-share2_inited { float: right; }
.fleft.block5-custom { width: 100%; padding-top: 5px; }
.searchallsearch label { display: none; }
input#mod-search-searchword { width: 75%; float: left; }
@media (min-width: 770px) and (max-width: 1028px) {
  .fleft.block5-custom { width: 74%; padding-top: 28px; }
}
@media (max-width: 380px) {
  input#mod-search-searchword { width: 100%; float: left; }
}
.searchallsearch { text-align: center; padding-bottom: 10px; }
.addtocart-area2.proddet { display: none; }
