/* Code tidied up by ScrapBook */
@media (min-width: 991px) and (max-width: 1199px) {
  #t3-mainnav .navbar-nav > li > a, #t3-mainnav .navbar-nav > li > span { padding: 20px 30px; }
  #back-top { right: 3%; }
  #productdetailsview .fright { width: 99%; }
}
@media (min-width: 768px) and (max-width: 990px) {
  #t3-header .logo.mod-left { width: auto; float: left; }
  #t3-header .mod-right { float: right; }
  #t3-mainnav .navbar-nav > li > a, #t3-mainnav .navbar-nav > li > span { padding: 20px 18px; }
  #back-top { right: 1%; }
  #productdetailsview .fright { width: 99%; }
  .back-to-category.left a { float: none; margin-bottom: 10px; }
  .zoomContainer .zoomWindow { bottom: 0px ! important; left: 0px ! important; }
  #t3-header .mod-right { float: none; padding-bottom: 20px ! important; }
}
@media (min-width: 320px) and (max-width: 767px) {
  .top-block #t3-mainnav { min-height: 60px ! important; }
  .top-block.fix nav#t3-mainnav { position: relative ! important; }
  #t3-header .logo.mod-left { width: auto; float: none; }
  #t3-header .mod-right { float: none; }
  #t3-header .mod-right .fright { float: none; padding-top: 0px; }
  #t3-mainnav .navbar-nav > li > a, #t3-mainnav .navbar-nav > li > span { padding: 20px 30px; display: block; text-align: center; }
  .t3-mainnav .t3-navbar-collapse .navbar-nav > li > span, .t3-mainnav .t3-navbar-collapse .navbar-nav > li > a { border-top: 1px solid rgb(231, 231, 231); }
  #t3-mainnav .dropdown-menu { border: medium none; background: rgb(41, 47, 56) none repeat scroll 0% 0%; box-shadow: none; margin: 0px; padding: 0px; border-radius: 0px; }
  #t3-mainnav .dropdown-menu .dropdown-menu { border: medium none; background: transparent none repeat scroll 0% 0%; box-shadow: none; display: block; left: 0px; top: 0px; position: relative; margin-left: 0px; margin-top: 0px; }
  #t3-mainnav .dropdown-menu .dropdown-menu li a { padding-left: 30px; }
  #t3-mainnav .dropdown-menu::before { display: none; }
  #t3-mainnav .dropdown-menu li a { text-align: left; padding: 10px 20px; color: rgb(255, 255, 255); transition: all 0.7s ease 0s; }
  #t3-mainnav .dropdown-menu > li a:hover, #t3-mainnav .dropdown-menu > li:hover > a, #t3-mainnav .dropdown-menu > li a:hover, #t3-mainnav .dropdown-menu > li.active > a, #t3-mainnav .dropdown-menu > li a:focus, #t3-mainnav .dropdown-menu > li a:focus { color: rgb(231, 76, 60); background: rgb(236, 240, 241) none repeat scroll 0% 0%; }
  #t3-mainnav .navbar-toggle { position: inherit; }
  #t3-mainnav .navbar-toggle .fa-bars { color: rgb(255, 255, 255); }
  #t3-mainnav .navbar-toggle:hover, #t3-mainnav .navbar-toggle:focus { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: rgb(255, 255, 255); }
  #t3-mainnav .navbar-toggle:hover .fa-bars, #t3-mainnav .navbar-toggle:focus .fa-bars { color: rgb(38, 38, 38); }
  #t3-mainnav .navbar-toggle .menu_title { position: absolute; display: inline-block; top: 10px; left: 0px; padding-left: 10px; color: rgb(255, 255, 255); font-size: 24px; font-weight: 300; margin-bottom: 30px; text-transform: uppercase; }
  .MainRow .t3-mainbody { padding-top: 20px; }
  .t3-module { margin-bottom: 30px; }
  h3.module-title { font-size: 20px; }
  #t3-mainnav .navbar-toggle { margin-right: 40px; margin-top: 12px; }
  #back-top, .compare_cat, .wishlist { display: none ! important; }
  #t3-mainnav .t3-navbar.navbar-collapse.collapse { display: block; height: 0px; border: medium none; background: transparent none repeat scroll 0% 0%; box-shadow: none; position: static; }
  .t3-megamenu { display: none; }
  .search-custom { display: block; }
  #productdetailsview .fright { width: 99%; }
  .back-to-category.left a { float: none; margin-bottom: 10px; }
  .zoomContainer { display: none; }
  #t3-header .mod-right { float: none; padding-bottom: 20px ! important; }
}
@media (min-width: 320px) and (max-width: 580px) {
  #productdetailsview .fleft { max-width: 290px; }
  #productdetailsview .fleft #Img_zoom2 { width: 100% ! important; height: auto ! important; }
}
