/* Code tidied up by ScrapBook */
@media (min-width: 480px) and (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 580px) {
  div.jcarousel-container.clearfix { margin-left: 39px; }
  div.jcarousel-container .jcarousel-prev { left: -39px; }
  #gallery_02.jcarousel.additional-images { width: 194px; }
}
@media (min-width: 320px) and (max-width: 990px) {
}
@media (min-width: 320px) and (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 479px) {
}
#productdetailsview .jcarousel-container .jcarousel-prev-disabled, #productdetailsview .jcarousel-container .jcarousel-next-disabled { display: none ! important; }
@media (min-width: 768px) and (max-width: 1199px) {
}
@media (min-width: 480px) and (max-width: 767px) {
}
@media (min-width: 320px) and (max-width: 479px) {
}
