/* Code tidied up by ScrapBook */
.su-heading { margin-bottom: 20px; }
.su-heading .su-heading-inner { font-size: 22px; line-height: 22px; color: rgb(102, 102, 102); }
.su-heading.su-heading-align-center { text-align: center; margin-left: auto; margin-right: auto; }
.su-heading h1, .su-heading h2, .su-heading h3, .su-heading h4, .su-heading h5, .su-heading h6 { margin: 0px; }
.su-heading-style-modern-1-orange { border-bottom: 1px solid rgb(255, 169, 140); color: rgb(0, 0, 0); }
.su-heading-style-modern-1-orange .su-heading-inner { display: inline-block; padding-bottom: 15px; border-bottom: 2px solid rgb(255, 129, 87); margin-bottom: -1px; font-weight: bold; }
