/* Code tidied up by ScrapBook */
@font-face {
  font-family: "IcoMoon";
  font-style: normal;
  font-weight: normal;
  src: url("IcoMoon.eot") format("embedded-opentype"), url("IcoMoon.svg") format("svg"), url("IcoMoon.woff") format("woff"), url("IcoMoon.ttf") format("truetype");
}
