/* Code tidied up by ScrapBook */
.pwebcontact-box, form.pwebcontact-form .btn { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; }
div.pwebcontact, div.pwebcontact *, div.pweb-modal, div.pweb-modal *, .pwebcontact_toggler { box-sizing: content-box; }
.pweb-left, .pweb-right, .pweb-top, .pweb-bottom { position: fixed; z-index: 1030; }
.pweb-right { right: 0px; }
.pweb-offset-top.pweb-left, .pweb-offset-top.pweb-right { top: 20%; }
.pwebcontact_toggler { position: relative; z-index: 1; display: block; width: 100px; height: 30px; line-height: 30px; padding: 5px 10px; text-decoration: none; text-align: left; cursor: pointer; }
.pwebcontact_toggler:hover { color: inherit; text-decoration: none; transition: background-position 0.1s linear 0s; }
.pweb-vertical.pweb-left .pwebcontact_toggler, .pweb-vertical.pweb-right .pwebcontact_toggler { width: 30px; height: 120px; padding: 10px 5px; }
.pweb-vertical.pweb-left .pwebcontact_toggler .pweb-text, .pweb-vertical.pweb-right .pwebcontact_toggler .pweb-text { display: block; width: 100%; height: 100%; background-repeat: no-repeat; background-position: left top; text-align: center; font-size: 1.4em; }
.pweb-vertical.pweb-left .pwebcontact_toggler.pweb-rotate .pweb-text, .pweb-vertical.pweb-right .pwebcontact_toggler.pweb-rotate .pweb-text { background-position: left bottom; }
.pweb-vertical-css .pweb-text { display: inline-block; white-space: nowrap; writing-mode: vertical-lr; }
.pweb-vertical-css.pweb-rotate .pweb-text { transform-origin: 50% 50% 0px; transform: rotate(180deg); }
.pwebcontact.pweb-slidebox .pwebcontact_toggler { position: absolute; z-index: 1; }
.pwebcontact.pweb-slidebox.pweb-vertical.pweb-right .pwebcontact_toggler { top: 10px; right: 0px; }
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-vertical.pweb-right .pwebcontact_toggler { top: 0px; left: -42px; right: auto; }
.pwebcontact-container { background-repeat: no-repeat ! important; text-align: left; }
.pweb-slidebox .pwebcontact-container, .pweb-modal .pwebcontact-container { background-color: rgb(255, 255, 255); }
.pwebcontact.pweb-slidebox .pwebcontact-container { padding: 10px 10px 5px; }
.pwebcontact.pweb-slidebox.pweb-right.pweb-vertical .pwebcontact-container { padding-right: 50px; }
.pwebcontact-box { position: relative; z-index: 0; }
.pwebcontact.pweb-slidebox .pwebcontact-box { position: absolute; max-width: 500px; }
.pwebcontact.pweb-slidebox.pweb-right.pweb-vertical .pwebcontact-box { top: 0px; right: 0px; }
.pwebcontact.pweb-slidebox.pweb-toggler-slide.pweb-right.pweb-vertical .pwebcontact-container { padding-right: 10px; }
form.pwebcontact-form { margin: 0px; }
form.pwebcontact-form .pweb-field-container { margin-bottom: 8px; }
form.pwebcontact-form .pweb-label, form.pwebcontact-form .pweb-field { float: none; width: 100%; }
form.pwebcontact-form .pweb-label label { display: block; margin: 0px; padding: 0px; overflow-wrap: break-word; width: auto; max-width: 100%; }
form.pwebcontact-form .pweb-msg { line-height: 16px; min-height: 16px; }
form.pwebcontact-form .pweb-msg-after {  }
form.pwebcontact-form input.pweb-input, form.pwebcontact-form select, form.pwebcontact-form textarea { float: none; padding: 2px 4px; margin: 0px; width: 100%; outline: medium none; box-sizing: border-box ! important; border-radius: 0px; box-shadow: none; }
form.pwebcontact-form input.pweb-input, form.pwebcontact-form select { max-width: 100%; line-height: 22px; height: 26px; }
form.pwebcontact-form textarea { height: auto ! important; min-height: 70px; }
form.pwebcontact-form input.pweb-input:focus, form.pwebcontact-form select:focus, form.pwebcontact-form textarea:focus { transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s; }
form.pwebcontact-form button, form.pwebcontact-form .btn { float: none; width: auto; height: auto; padding: 4px 12px; cursor: pointer; border-radius: 0px; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset; }
form.pwebcontact-form button:hover, form.pwebcontact-form .btn:hover { transition: background-color 0.1s linear 0s; }
form.pwebcontact-form input.pweb-input:focus, form.pwebcontact-form select:focus, form.pwebcontact-form textarea:focus { outline: medium none; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4), 0px 1px 2px rgba(0, 0, 0, 0.2) inset ! important; }
.pweb-separator-text { line-height: 150%; }
form.pwebcontact-form .invalid, form.pwebcontact-form .invalid a { color: rgb(255, 0, 0) ! important; font-weight: normal; }
.pweb-labels-over form.pwebcontact-form .pweb-field-container { position: relative; }
.pweb-labels-over form.pwebcontact-form .pweb-label { margin-bottom: 3px; }
.pweb-labels-over form.pwebcontact-form .pweb-label-over .pweb-label { position: absolute; z-index: 5; top: 0px; left: 0px; width: auto ! important; margin-bottom: 0px; }
.pweb-labels-over form.pwebcontact-form .pweb-label-over label { padding: 3px 6px 0px; cursor: text; color: rgb(170, 170, 170); text-shadow: none; white-space: nowrap; box-sizing: border-box ! important; }
form.pwebcontact-form label .pweb-asterisk { color: rgb(255, 0, 0); font-weight: bold; }
@media (max-width: 480px) {
}
@media (min-width: 481px) and (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
.fade { opacity: 0; transition: opacity 0.15s linear 0s; }
.pwebcontact-box::before, .pwebcontact-box::after, .pweb-fields::before, .pweb-fields::after, .pweb-fields-group::before, .pweb-fields-group::after, .pweb-field-container::before, .pweb-field-container::after, .pweb-uploader .files > div::before, .pweb-uploader .files > div::after { content: ""; display: table; line-height: 0; }
.pwebcontact-box::after, .pweb-fields, .pweb-fields::after, .pweb-fields-group::after, .pweb-field-container::after, .pweb-uploader .files > div::after { clear: both; }
