/* Code tidied up by ScrapBook */
.t3-megamenu .mega-inner::before, .t3-megamenu .mega-inner::after { content: " "; display: table; }
.t3-megamenu .mega-inner::after { clear: both; }
.t3-megamenu .mega > .mega-dropdown-menu { min-width: 200px; display: none; }
.t3-megamenu .mega-group::before, .t3-megamenu .mega-group::after { content: " "; display: table; }
.t3-megamenu .mega-group::after { clear: both; }
.t3-megamenu .dropdown-header, .t3-megamenu .mega-nav .mega-group > .dropdown-header, .t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header, .t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header { margin: 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; color: inherit; font-size: 18px; line-height: normal; }
.t3-megamenu .dropdown-header:hover, .t3-megamenu .mega-nav .mega-group > .dropdown-header:hover, .t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:hover, .t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:hover, .t3-megamenu .dropdown-header:active, .t3-megamenu .mega-nav .mega-group > .dropdown-header:active, .t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:active, .t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:active, .t3-megamenu .dropdown-header:focus, .t3-megamenu .mega-nav .mega-group > .dropdown-header:focus, .t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:focus, .t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:focus { background: inherit; color: inherit; }
.t3-megamenu .mega-group-ct { margin: 0px; padding: 0px; }
.t3-megamenu .mega-group-ct::before, .t3-megamenu .mega-group-ct::after { content: " "; display: table; }
.t3-megamenu .mega-group-ct::after { clear: both; }
.t3-megamenu .mega-nav, .t3-megamenu .dropdown-menu .mega-nav { margin: 0px; padding: 0px; list-style: outside none none; }
.t3-megamenu .mega-nav > li, .t3-megamenu .dropdown-menu .mega-nav > li { list-style: outside none none; margin-left: 0px; }
.t3-megamenu .mega-nav > li a, .t3-megamenu .dropdown-menu .mega-nav > li a { white-space: normal; display: block; padding: 5px; }
.t3-megamenu .mega-nav > li a:hover, .t3-megamenu .dropdown-menu .mega-nav > li a:hover, .t3-megamenu .mega-nav > li a:focus, .t3-megamenu .dropdown-menu .mega-nav > li a:focus { text-decoration: none; color: rgb(38, 38, 38); background-color: rgb(245, 245, 245); }
.t3-megamenu .nav .caret, .t3-megamenu .dropdown-submenu .caret, .t3-megamenu .mega-menu .caret { display: none; }
.t3-megamenu .nav > .dropdown > .dropdown-toggle .caret { display: inline-block; }
@media (min-width: 768px) {
  .t3-megamenu.animate .mega > .mega-dropdown-menu { backface-visibility: hidden; opacity: 0; }
  .t3-megamenu.animate.zoom .mega > .mega-dropdown-menu { transform: scale(0, 0); transform-origin: 20% 20% 0px; }
}
@media (max-width: 767px) {
  .t3-megamenu .mega-inner::before, .t3-megamenu .mega-inner::after { content: " "; display: table; }
  .t3-megamenu .mega-inner::after { clear: both; }
  .t3-megamenu .row, .t3-megamenu .mega-dropdown-menu, .t3-megamenu .row [class*="col-lg-"], .t3-megamenu .row [class*="col-md-"], .t3-megamenu .row [class*="col-sm-"], .t3-megamenu .row [class*="col-xs-"] { width: 100% ! important; min-width: 100% ! important; left: 0px ! important; margin-left: 0px ! important; transform: none ! important; }
}
.t3-megamenu .mega-inner { padding: 10px 0px; }
.t3-megamenu .row { margin-left: auto; margin-right: auto; }
.t3-megamenu .dropdown-header, .t3-megamenu .mega-nav .mega-group > .dropdown-header, .t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header, .t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header { margin: 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; color: inherit; font-size: 18px; line-height: normal; }
.t3-megamenu .dropdown-header:hover, .t3-megamenu .mega-nav .mega-group > .dropdown-header:hover, .t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:hover, .t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:hover, .t3-megamenu .dropdown-header:active, .t3-megamenu .mega-nav .mega-group > .dropdown-header:active, .t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:active, .t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:active, .t3-megamenu .dropdown-header:focus, .t3-megamenu .mega-nav .mega-group > .dropdown-header:focus, .t3-megamenu .dropdown-menu .mega-nav .mega-group > .dropdown-header:focus, .t3-megamenu .dropdown-menu .active .mega-nav .mega-group > .dropdown-header:focus { background: inherit; color: inherit; }
.t3-megamenu .mega-group-ct .row { margin-left: -15px; margin-right: -15px; }
