/* Code tidied up by ScrapBook */
.off-canvas-toggle { z-index: 100; }
html, body { height: 100%; }
.t3-wrapper { background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: relative; left: 0px; z-index: 99; transition: transform 0.5s ease 0s; overflow: visible; }
.t3-wrapper::after { position: absolute; top: 0px; right: 0px; width: 0px; height: 0px; background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; content: ""; opacity: 0; transition: opacity 0.5s ease 0s, width 0.1s ease 0.5s, height 0.1s ease 0.5s; z-index: 100; }
.t3-off-canvas { position: absolute; top: 0px; left: 0px; z-index: 100; visibility: hidden; width: 250px; height: 100%; overflow: hidden; transition: all 0.5s ease 0s; }
.t3-off-canvas::after { position: absolute; top: 0px; right: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; content: ""; opacity: 1; transition: opacity 0.5s ease 0s; }
.t3-off-canvas { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.t3-off-canvas .t3-off-canvas-header { background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(51, 51, 51); padding: 6px 12px; }
.t3-off-canvas .t3-off-canvas-header h2 { margin: 0px; }
.t3-off-canvas .t3-off-canvas-body { padding: 6px 12px; }
.off-canvas-effect-2.t3-off-canvas { z-index: 1; }
.off-canvas-effect-2.t3-off-canvas::after { display: none; }
.off-canvas-toggle { border-radius: 0px; border: 0px none; padding: 0px; width: 50px; height: 50px; line-height: 50px; }
.off-canvas-toggle:focus { outline: medium none; }
.t3-off-canvas { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
.t3-off-canvas .t3-off-canvas-header { background: rgb(238, 238, 238) none repeat scroll 0% 0%; color: rgb(51, 51, 51); padding: 0px 0px 0px 12px; height: 35px; }
.t3-off-canvas .t3-off-canvas-header h2 { margin: 0px; line-height: 35px; font-size: 14px; font-weight: bold; text-transform: uppercase; }
.t3-off-canvas .close { margin: 0px; height: 35px; line-height: 35px; width: 35px; background: rgb(187, 187, 187) none repeat scroll 0% 0%; position: absolute; top: 0px; right: 0px; }
.t3-off-canvas .t3-off-canvas-body { padding: 24px 12px; }
