/* Code tidied up by ScrapBook */
.pweb-form-red .pwebcontact-box, .pweb-form-red form.pwebcontact-form label .pweb-form-red form.pwebcontact-form input, .pweb-form-red form.pwebcontact-form textarea, .pweb-form-red form.pwebcontact-form select, .pweb-form-red form.pwebcontact-form button, .pweb-form-red form.pwebcontact-form .btn { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; }
.pweb-form-red form.pwebcontact-form a, .pweb-form-red .pweb-button-close { color: rgb(189, 54, 47); text-decoration: none; background: transparent none repeat scroll 0% 0%; }
.pweb-form-red form.pwebcontact-form a:hover { text-decoration: underline; }
.pweb-form-red form.pwebcontact-form .invalid, .pweb-form-red form.pwebcontact-form .invalid a { color: rgb(255, 0, 0) ! important; }
.pweb-form-red form.pwebcontact-form input.pweb-input, .pweb-form-red form.pwebcontact-form select, .pweb-form-red form.pwebcontact-form textarea { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(51, 51, 51); border: 1px solid rgb(170, 170, 170); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset; }
.pweb-form-red form.pwebcontact-form input.pweb-input:focus, .pweb-form-red form.pwebcontact-form select:focus, .pweb-form-red form.pwebcontact-form textarea:focus { border-color: rgb(168, 46, 42) ! important; box-shadow: 0px 0px 5px rgb(189, 54, 47), 0px 1px 2px rgba(0, 0, 0, 0.2) inset ! important; }
.pweb-form-red form.pwebcontact-form button, .pweb-form-red form.pwebcontact-form .btn { color: rgb(255, 255, 255) ! important; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background: rgb(189, 54, 47) linear-gradient(to bottom, rgb(238, 95, 91), rgb(189, 54, 47)) repeat-x scroll 0% 0%; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset; }
.pweb-form-red form.pwebcontact-form button:hover, .pweb-form-red form.pwebcontact-form .btn:hover { background-color: rgb(189, 54, 47); background-position: 0px -30px; }
.pweb-form-red.pweb-labels-over form.pwebcontact-form .pweb-field-text label, .pweb-form-red.pweb-labels-over form.pwebcontact-form .pweb-field-name label, .pweb-form-red.pweb-labels-over form.pwebcontact-form .pweb-field-email label, .pweb-form-red.pweb-labels-over form.pwebcontact-form .pweb-field-phone label, .pweb-form-red.pweb-labels-over form.pwebcontact-form .pweb-field-subject label, .pweb-form-red.pweb-labels-over form.pwebcontact-form .pweb-field-password label, .pweb-form-red.pweb-labels-over form.pwebcontact-form .pweb-field-date label, .pweb-form-red.pweb-labels-over form.pwebcontact-form .pweb-field-textarea label, .pweb-form-red.pweb-labels-over form.pwebcontact-form .pweb-field-select label, .pweb-form-red.pweb-labels-over form.pwebcontact-form .pweb-field-multiple label { color: rgb(170, 170, 170); }
.pweb-form-red .pweb-uploader .progress.progress-striped .bar.progress-bar { background-color: rgb(189, 54, 47); background-image: none; }
