/* Code tidied up by ScrapBook */
.pwebcontact_toggler.pweb-toggler-red { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; }
.pwebcontact_toggler.pweb-toggler-red .pweb-icon { font-size: 16px; }
.pwebcontact_toggler.pweb-toggler-red { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); background-color: rgb(189, 54, 47); background-image: linear-gradient(to bottom, rgb(238, 95, 91), rgb(189, 54, 47)); }
.pweb-vertical.pweb-right .pwebcontact_toggler.pweb-toggler-red { border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1); background-image: linear-gradient(to right, rgb(238, 95, 91), rgb(189, 54, 47)); }
.pwebcontact_toggler.pweb-toggler-red:hover, .pwebcontact_toggler.pweb-toggler-red.pweb-opened { background-image: none ! important; background-position: 0px -30px; }
.pweb-vertical.pweb-right .pwebcontact_toggler.pweb-toggler-red:hover, .pweb-vertical.pweb-right .pwebcontact_toggler.pweb-toggler-red.pweb-opened { background-position: 30px 0px; }
