/* Code tidied up by ScrapBook */
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(66, 139, 202); text-decoration: none; }
a:hover, a:focus { color: rgb(42, 100, 150); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
.wrap { width: auto; clear: both; }
p { margin: 0px 0px 10px; }
@media (min-width: 768px) {
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { color: inherit; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-weight: 500; line-height: 1.1; }
h1, h2, h3 { margin-top: 20px; margin-bottom: 10px; }
h4, h5, h6 { margin-top: 10px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0px; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
select::-moz-placeholder, textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .inputbox::-moz-placeholder { color: rgb(119, 119, 119); opacity: 1; }
@media screen and (min-width: 768px) {
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .inputbox { width: auto; }
}
.invalid { border-color: rgb(231, 76, 60); }
.dropdown-menu > li > a { padding: 5px 20px; }
.dropdown-header { padding: 3px 20px; font-size: 14px; }
.nav > li > .separator { position: relative; display: block; padding: 10px 15px; line-height: 20px; }
@media (min-width: 768px) {
  .nav > li > .separator { padding-top: 15px; padding-bottom: 15px; }
}
.nav .caret { border-top-color: rgb(66, 139, 202); border-bottom-color: rgb(66, 139, 202); }
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
.navbar-toggle { padding: 0px; height: 35px; line-height: 35px; width: 35px; margin-left: 15px; }
@media (min-width: 768px) {
  .navbar-toggle { display: none; }
}
.navbar-nav { margin: 7.5px -15px; }
@media (min-width: 768px) {
  .navbar-nav { margin: 0px; }
}
.navbar-default { background-color: rgb(248, 248, 248); border-color: rgb(231, 231, 231); }
.navbar-default .navbar-nav > li > a { color: rgb(119, 119, 119); }
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { color: rgb(51, 51, 51); background-color: transparent; }
.navbar-default .navbar-toggle { border-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: rgb(221, 221, 221); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
@media (max-width: 767px) {
}
.t3-mainnav { border-left: 0px none; border-right: 0px none; margin-bottom: 0px; border-radius: 0px; }
.t3-mainnav .t3-navbar { padding-left: 0px; padding-right: 0px; }
@media (min-width: 768px) {
  .t3-mainnav .t3-navbar-collapse { display: none ! important; }
}
.t3-mainnav .t3-navbar-collapse .navbar-nav { margin: 0px -15px; }
.t3-mainnav .t3-navbar-collapse .navbar-nav > li > a { border-top: 1px solid rgb(231, 231, 231); }
.t3-mainnav .t3-navbar-collapse .navbar-nav > li:first-child > a { border-top: 0px none; }
.t3-module { background: transparent none repeat scroll 0% 0%; color: inherit; margin-bottom: 20px; }
@media screen and (min-width: 768px) {
  .t3-module { margin-bottom: 40px; }
}
.t3-module .module-inner { padding: 0px; }
.module-title { background: transparent none repeat scroll 0% 0%; color: inherit; font-size: 18px; margin: 0px 0px 10px; padding: 0px; }
@media screen and (min-width: 768px) {
  .module-title { margin-bottom: 20px; }
}
.module-ct { background: transparent none repeat scroll 0% 0%; color: inherit; padding: 0px; }
.module-ct::before, .module-ct::after { content: " "; display: table; }
.module-ct::after { clear: both; }
.module-ct > ul, .module-ct .custom > ul, .module-ct > ol, .module-ct .custom > ol { margin-left: 20px; padding-left: 0px; }
.module-ct > ul.nav, .module-ct .custom > ul.nav, .module-ct > ol.nav, .module-ct .custom > ol.nav { padding-left: 0px; margin-left: 0px; }
@media screen and (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media screen and (max-width: 768px) {
}
@media (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
body { background: rgb(34, 34, 34) none repeat scroll 0% 0% ! important; }
.header-top { background: rgb(250, 251, 251) none repeat scroll 0% 0% ! important; border-top: 4px solid rgb(230, 126, 34) ! important; }
#t3-header { background: rgb(250, 251, 251) none repeat scroll 0% 0% ! important; }
#t3-mainnav { background: rgb(51, 51, 51) none repeat scroll 0% 0% ! important; }
.center-block {  }
.MainRow { background: rgb(250, 251, 251) none repeat scroll 0% 0% ! important; }
a, #cur-lang .heading span:first-child, #Slider .text2, #Slider .text2.rev, #Slider .text3, ul.layout .product-box .Price, ul.layout2 .product-box .Price, .pagination ul > li > span, #product_list ul.layout .product-box .Price, #product_list ul.layout2 .product-box .Price, ul.list .VmArrowdown.expanded i.minus, .listbest .Price, #productdetailsview .price .product-price span.PricesalesPrice, .time-box #bzSaleTimerCnt .wrap_time, .time-box .bzSaleTimerDesc div, #productdetailsview .time-box .price .product-price > span.price-sale span.PricesalesPrice, .time-box .price .product-price .price-sale .text, table.cart-summary .PricebillTotal, .sectiontableentry1.bg_total, .sectiontableentry1 .total .PricesalesPrice, .orders-box tbody td.total, .spaceStyle.second .order-box td.price, #slideShow .time-box .price .price-sale span.sales, #slideShow .time-box .price .price-sale .text, #k2Container div.itemCommentsForm form span#formLog, .homeblog ul li .blog-box .moduleItemReadMore, .success_compare_left .remcompare a, .success_wishlists_left .remwishlists a, div#cart_list .fright a.vm2-remove_from_cart, div#cart_list .total .total2, #cart_list .tot3, #cart_list .tot4, div#vmMainPageOPC div.op_col7 .opc_PricesalesPrice, div#vmMainPageOPC div.op_col7 span.opc_PricesalesPrice, div#basket_container div.op_basket_row #tt_total_basket, div#basket_container div.op_basket_row.total div.op_col1_4, #tt_total, #tt_total_txt, #vmMainPageOPC input.invalid, .shoper .user-details label.invalid, #sales_price, .vm2-add_up i, .cart-summary.bot-total .red-bold, ul.layout .product-box div.Title a:hover, ul.layout2 .product-box div.Title a:hover, .t3footnav .listbest .Title a:hover, .customcustomblock ul li em, .customcustomblock2 ul li em { color: rgb(230, 126, 34); }
.module.menu ul li a:hover, .jcarousel-container .jcarousel-prev.jcarousel-prev-disabled:hover span, .jcarousel-container .jcarousel-next.jcarousel-next-disabled:hover span, .k2ReadMore:hover, .userItemView .k2ReadMore:hover, .homeblog ul li .blog-box .moduleItemReadMore:hover, .success_compare_left .remcompare a:hover, .success_wishlists_left .remwishlists a:hover, .order-items-box .order-link:hover, .vm2-add_up:hover i { color: rgb(41, 47, 56); }
body input.inputbox, h3.module-title, .order h3, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .button-log .Forgot li a, .module.phone span, #cur-lang .heading, #cur-lang.header-button-compare .heading i, #cur-lang.header-button-wishlist .heading i, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a, #t3-mainnav .t3-megamenu .mega-nav > li a, #Slider .text1, #Slider .text4, .top-breadcrumbs a, ul.layout .product-box .Title a, ul.layout .product-box .add_wishlist, ul.layout .product-box .add_compare, ul.layout2 .product-box .Title a, ul.layout2 .product-box .add_wishlist, ul.layout2 .product-box .add_compare, .owl-prev, .owl-next, .cat_row a, .orderlistcontainer div.activeOrder, .Results .jq-selectbox, .navigation_grid a i, #product_list.list ul.layout .product-box .Title a, #product_list.list ul.layout .product-box .vote, #product_list.list ul.layout2 .product-box .Title a, #product_list.list ul.layout2 .product-box .vote, #product_list.list .fa-tags, #product_list.list .product_tags a, .t3-sidebar .module-ct ul > li a, .t3-sidebar ul.list > li a, .t3-sidebar ul.list li.parent li a, .t3-sidebar ul.list li.parent li.parent li a, ul.list .VmArrowdown i, .btn_compare, .btn_wishlist, #mod_wishlists .name a, #mod_compare .name a, #mod_compare .remcompare a, #mod_wishlists .remwishlists a, .listbest .Title a, .mod_tagsvm2 a, .t3-sidebar .paramfilter .values li label .count, .paramfilter a.reset, .fullreset, .jcarousel-container .jcarousel-next span, .jcarousel-container .jcarousel-prev span, .jcarousel-container .jcarousel-prev.jcarousel-prev-disabled span, .jcarousel-container .jcarousel-next.jcarousel-next-disabled span, #productdetailsview .fright h1, #productdetailsview .manufacturer a, .time-box .countdown_section, .time-box .countdown_amount, #productdetailsview .jq-selectbox, #productdetailsview .product-box2 .addtocart-bar2 .quantity-box input, #productdetailsview .product-box2 .add_wishlist, #productdetailsview .product-box2 .add_compare, #productdetailsview .product-box2 .ask-a-question .ask-question2, .accordion-heading a.accordion-toggle.collapsed, .productdetails-view.layout2 .responsive-tabs__list__item, #productdetailsview .tags .product-field-display a, .product-related-categories .product-field .product-field-display a, .product-neighbour ul.pagers a, .recentproducts li, .cart-view .login-box a.reset, .cart-view .login-box a.remind, .cart-view .login-box a.reset, .cart-view .login-box a.remind, .cart_form .vm2-add_quantity_cart, .cart_form .vm2-remove_from_cart, .shoper .jq-selectbox, .wishlist_box .remwishlists a, .wishlist_box .addtocart-bar2 .quantity-box input, #compare_list_prod .comare_name a, #compare_list_prod .addtocart-bar2 .quantity-box input, .comare_action .compare_del, .manufacturer-view-default .row_man h2 a, .manufacturer_details_view .manufacturer-email a, .manufacturer_details_view .manufacturer-url a, .manufacturer_details_view .manufacturer-product-link a, .orders-box tbody td.num a, .order-items-box tr td.priceCol span, .order-items-box tr.total td, .order-items-box tr .color2, .shoper #tabs li, #slideShow .Title a, #slideShow .add_wishlist, #slideShow .add_compare, .K2ItemsRow h2.module-title, .K2ItemsRow h2.module-title a, .K2ItemsRow .catItemAuthor a, div.catItemCategory a, div.catItemCommentsLink a, #k2Container h2.itemTitle, #k2Container h2.itemTitle a, #k2Container .itemAuthor a, #k2Container div.catItemCategory a, #k2Container div.itemDateCreated a, #k2Container .itemCategory a, #k2Container .itemToolbar a, .itemAuthorLatest ul li a, #k2Container .itemNavigation a, div.itemCommentsForm form textarea.inputbox, div.itemBackToTop a, .search .page-title, #url, .contact-address dt span, #onepage_main_div .jq-selectbox, .homeblog ul li .blog-box .fleft .moduleItemTitle, .success_compare_left .title a, .success_wishlists_left .title a, #askform input, #comment, div.other-links li a, .ask-a-question-view #Comment, .panel-heading a.accordion-toggle.collapsed, div.tooltip-inner { color: rgb(41, 47, 56); }
.button-log .Forgot li a:hover, .module.menu ul li a:hover, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a:hover, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group > a:focus, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a:hover, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.active > a:focus, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a:hover, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav .mega-group.open > a:focus, #t3-mainnav .t3-megamenu .mega-nav > li a:hover, #t3-mainnav .t3-megamenu .mega-nav > li.open > a, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li a:hover, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li.active > a, #t3-mainnav .t3-megamenu .mega-nav > li a:focus, #t3-mainnav .t3-megamenu .dropdown-menu .mega-nav > li a:focus, .top-breadcrumbs a:hover, ul.layout2 .product-box .add_wishlist:hover, ul.layout2 .product-box .add_wishlist.active, ul.layout2 .product-box .add_wishlist:focus, ul.layout2 .product-box .add_compare:hover, ul.layout2 .product-box .add_compare.active, ul.layout2 .product-box .add_compare:focus, #t3-footer .menu.nav li:hover a, #t3-footer .menu.nav li.active a, #t3-footer .menu.nav li:hover > i, #t3-footer .menu.nav li.active > i, .cat_row:hover a, .pagination ul > li > a:hover, .pagination ul > li > a:focus, #product_list.list ul.layout .product-box .Title a:hover, #product_list.list ul.layout2 .product-box .Title a:hover, #product_list.list .product_tags a:hover, .t3-sidebar .module-ct ul > li a:hover, .t3-sidebar ul.list > li a:hover, .t3-sidebar ul.list > li.active a, .t3-sidebar ul.list li li a:hover, .t3-sidebar ul.list > li.parent li.active a, .t3-sidebar ul.list li.parent li.parent li a:hover, .t3-sidebar ul.list > li.parent li.parent li.active a, .btn_compare:hover, .btn_wishlist:hover, #mod_wishlists .name a:hover, #mod_compare .name a:hover, #mod_wishlists .name a:hover, #mod_compare .name a:hover, #mod_compare .remcompare a:hover, #mod_wishlists .remwishlists a:hover, .listbest .Title a:hover, .mod_tagsvm2 a:hover, .paramfilter a.reset:hover, .fullreset:hover, .fullreset:focus, #productdetailsview .addtocart-bar2 .quantity-controls .quantity-plus:hover, #productdetailsview .addtocart-bar2 .quantity-controls .quantity-minus:hover, #productdetailsview .tags .product-field-display a:hover, .cat_row:hover a, .product-related-categories .product-field .product-field-display:hover a, #productdetailsview .manufacturer a:hover, .recentproducts li a:hover, .cart-view .login-box a.reset:hover, .cart-view .login-box a.remind:hover, .cart_form .vm2-add_quantity_cart:hover, .cart_form .vm2-remove_from_cart:hover, .cart-summary .sectiontableentry1.shipment td a:hover, .cart-summary .sectiontableentry1.payment td a:hover, .cart-summary .sectiontableentry1.bg_total td:first-child, .wishlist_box .remwishlists a:hover, .wishlist_box .addtocart-bar2 .quantity-controls .quantity-plus:hover, .wishlist_box .addtocart-bar2 .quantity-controls .quantity-minus:hover, #compare_list_prod .comare_name a:hover, #compare_list_prod .comare_price span.PricesalesPrice, #compare_list_prod .addtocart-bar2 .quantity-controls .quantity-plus:hover, #compare_list_prod .addtocart-bar2 .quantity-controls .quantity-minus:hover, .comare_action .compare_del:hover, .manufacturer-view-default .row_man h2 a:hover, .manufacturer_details_view .manufacturer-email a:hover, .manufacturer_details_view .manufacturer-url a:hover, .manufacturer_details_view .manufacturer-product-link a:hover, .orders-box tbody td.num a:hover, #slideShow .Title a:hover, .K2ItemsRow .catItemAuthor a:hover, div.catItemCategory a:hover, div.catItemCommentsLink a:hover, #k2Container .itemAuthor a:hover, #k2Container div.catItemCategory a:hover, #k2Container div.itemDateCreated a:hover, #k2Container .itemCategory a:hover, #k2Container .itemToolbar a:hover, .itemAuthorLatest ul li a:hover, #k2Container .itemNavigation a:hover, div.itemBackToTop a:hover, .homeblog ul li .blog-box .fleft .moduleItemTitle:hover, .success_compare_left .title a:hover, .success_wishlists_left .title a:hover, div.other-links li a:hover, ul.layout2 .product-box .Title a:hover, #k2Container h2.itemTitle a:hover, .serchline .sropen:hover, .serchline .srclose:hover, #sachoneL:hover, .cart-summary .cart-title a:hover, #t3-header.style2 .serchline form .button:hover { color: rgb(230, 126, 34); }
#t3-mainnav .navbar-nav > li > a:hover, #t3-mainnav .navbar-nav > li > a:focus, #t3-mainnav .navbar-nav > li > span:hover, #t3-mainnav .navbar-nav > li > span:focus, #t3-mainnav .navbar-nav > .active > a, #t3-mainnav .navbar-nav > .active > a:hover, #t3-mainnav .navbar-nav > .active > a:focus, #t3-mainnav .navbar-nav > .active > span, #t3-mainnav .navbar-nav > .active > span:hover, #t3-mainnav .navbar-nav > .active > span:focus, #t3-mainnav .navbar-nav > .open > a, #t3-mainnav .navbar-nav > .open > a:hover, #t3-mainnav .navbar-nav > .open > a:focus, #t3-mainnav .navbar-nav > .open > span, #t3-mainnav .navbar-nav > .open > span, #t3-mainnav .navbar-nav > .open > span { background: rgb(230, 126, 34) none repeat scroll 0% 0% ! important; }
#t3-mainnav .dropdown-menu { border-top: 3px solid rgb(230, 126, 34) ! important; }
#t3-mainnav .dropdown-menu .dropdown-menu { border-left: 3px solid rgb(230, 126, 34) ! important; border-top: medium none ! important; }
#t3-mainnav .dropdown-menu::before { border-bottom: 8px solid rgb(230, 126, 34); }
#t3-mainnav .dropdown-menu .dropdown-menu::before { border-right: 8px solid rgb(230, 126, 34); }
#vmCartModule, #vmCartModule:hover span.cart_num a, #vmCartModule.act span.cart_num a, .camera_wrap .camera_pag .camera_pag_ul li:hover, .camera_wrap .camera_pag .camera_pag_ul li.cameracurrent, .owl-prev:hover, .owl-next:hover, .navigation_grid .Clist:hover, .navigation_grid .Clist.active, .navigation_grid .Cgrid:hover, .navigation_grid .Cgrid.active, ul.list .VmArrowdown:hover, .paramfilter .slider_active, .jcarousel-container .jcarousel-next:hover, .jcarousel-container .jcarousel-prev:hover, #back-top a:hover, div#slideShow .space_tabs li.space_here a, div#slideShow .space_tabs li:hover a { background: rgb(230, 126, 34) none repeat scroll 0% 0%; }
.button, .addtocart-button, .addtocart-button, .vm-button-correct, .k2user .button { background: rgb(230, 126, 34) none repeat scroll 0% 0% ! important; border-bottom: 2px solid rgb(211, 84, 0) ! important; }
#t3-footer aside.t3footnav { background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
input::-moz-placeholder { color: rgb(41, 47, 56); }
select::-moz-placeholder, textarea::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="week"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="color"]::-moz-placeholder, .inputbox::-moz-placeholder { color: rgb(41, 47, 56); }
.logo { text-align: center; }
@media screen and (min-width: 768px) {
  .logo { text-align: left; }
}
.logo a { display: inline-block; line-height: 1; margin: 0px; }
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 768px) {
}
div.top-block.fix #t3-mainnav { position: relative ! important; }
@media screen and (min-width: 768px) {
}
.t3-mainbody { padding-top: 20px; padding-bottom: 20px; }
.t3-content { padding-top: 20px; padding-bottom: 20px; }
.t3-sidebar { padding-top: 20px; padding-bottom: 20px; }
.t3-footer { border-top: 1px solid rgb(238, 238, 238); background: rgb(248, 248, 248) none repeat scroll 0% 0%; color: rgb(102, 102, 102); }
.t3-footer::before, .t3-footer::after { content: " "; display: table; }
.t3-footer::after { clear: both; }
.t3-footnav { padding: 20px 0px; }
.t3-footnav::before, .t3-footnav::after { content: " "; display: table; }
.t3-footnav::after { clear: both; }
@media screen and (min-width: 768px) {
  .t3-footnav { padding: 40px 0px; }
}
.t3-footnav .t3-module { background: rgb(248, 248, 248) none repeat scroll 0% 0%; color: rgb(102, 102, 102); margin-top: 10px; margin-bottom: 10px; }
.t3-footnav .t3-module .module-title { color: rgb(51, 51, 51); font-size: 18px; margin-bottom: 10px; }
.t3-footnav .t3-module ul { list-style: outside none none; margin-left: 0px; margin-bottom: 0px; padding-left: 0px; }
.t3-footnav .t3-module ul > li { line-height: 24px; }
.t3-footnav .t3-module ul > li > a { color: rgb(102, 102, 102); }
.t3-footnav .t3-module ul > li > a:hover, .t3-footnav .t3-module ul > li > a:active, .t3-footnav .t3-module ul > li > a:focus { color: rgb(102, 102, 102); }
@media screen and (min-width: 991px) {
}
