/* Code tidied up by ScrapBook */
.pweb-uploader .fileinput-button { display: inline-block; position: relative; overflow: hidden; }
.pweb-uploader .fileinput-button input { position: absolute; top: 0px; right: 0px; margin: 0px; font-size: 200px; direction: ltr; cursor: pointer; opacity: 0; }
.pwebcontact-box .pweb-dropzone { display: none; position: absolute; z-index: 1; top: 0px; left: 0px; text-align: center; font-weight: bold; font-size: 120%; }
.pwebcontact-box .pweb-dropzone > div { position: relative; top: 47%; left: 0px; }
.pweb-uploader .templates { display: none ! important; }
.pweb-icomoon .pweb-uploader .icon-plus-sign, .pweb-icomoon .pweb-uploader .icon-warning-sign, .pweb-icomoon .pweb-uploader .icon-ok, .pweb-icomoon .pweb-uploader .icon-upload, .pweb-icomoon .pweb-uploader .icon-remove, .pweb-icomoon .pweb-uploader .icon-trash { background-image: none ! important; margin: 0px; }
.pweb-icomoon .icon-plus-sign::before, .pweb-icomoon .icon-warning-sign::before, .pweb-icomoon .icon-ok::before, .pweb-icomoon .icon-upload::before, .pweb-icomoon .icon-remove::before, .pweb-icomoon .icon-trash::before { font-family: "IcoMoon"; font-style: normal; background: transparent none repeat scroll 0% 0%; }
.pweb-icomoon .icon-plus-sign::before { content: "*"; }
.pweb-icomoon .icon-warning-sign::before { content: "H"; }
.pweb-icomoon .icon-ok::before { content: "G"; }
.pweb-icomoon .icon-upload::before { content: ""; }
.pweb-icomoon .icon-remove::before { content: "J"; }
.pweb-icomoon .icon-trash::before { content: "L"; }
