/* Code tidied up by ScrapBook */
.pweb-bg-white .pwebcontact-container, .pweb-bg-white.ui-effects-transfer.pweb-genie { background-color: rgb(255, 255, 255); }
.pweb-bg-white.pweb-slidebox .pwebcontact-container { border: 1px solid rgba(0, 0, 0, 0.2); background-color: rgba(255, 255, 255, 0.9); }
.pweb-bg-white form.pwebcontact-form label, .pweb-bg-white form.pwebcontact-form .pweb-separator-text, .pweb-bg-white form.pwebcontact-form .pweb-msg, .pweb-bg-white form.pwebcontact-form .pweb-chars-counter, .pweb-bg-white form.pwebcontact-form .pweb-uploader, .pweb-bg-white .pwebcontact-box .pweb-dropzone { color: rgb(51, 51, 51); }
.pweb-bg-white form.pwebcontact-form label .pweb-asterisk { color: rgb(255, 0, 0); }
